body, html {
  color: #fff;
  background: #170e09;
  min-height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

.section {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

/* .character-section {
  overflow: auto;
} */

.tile::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.character {
  position: relative;
  clear: none;
  float: left;
  width: 25%;
  min-height: 100%;  
}

.character-content {
  margin: 10px;
}

.character-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 10px; */
  max-width: 100%;
}

.character-label {
  position: absolute;
  bottom: 15px;
  right: 10px;
  left: 10px;
  text-align: center;
  font-size: 22px;
}

#attack {
  display: none;
}

.selected {
  filter: grayscale(100%);
}

#player-window, .combat-window, #opponent-window  {
  position: relative;
  min-height: 200px;
  width: calc((100%) / 3);
  float: left;
}

.combat-window {
  /* position: relative;
  min-height: 200px; */
  /* width: 33.33%; */
  /* width: calc((100%) / 3);
  float: left; */
  overflow: auto;
}

.yellow-text {
  color: yellow;
}

.red-text {
  color: red;
}

/* #opponent-window {
  position: relative;
  min-height: 200px;
  width: calc((100%) / 3);
  float: left;
} */

/* Placeholder background images to be fetched for player window */
/* Also used for character selection */
.kenobi-bg {
  background-image: url("../images/kenobi.jpeg");
}

.fett-bg {
  background-image: url("../images/kenobi.jpeg");
}

.vader-bg {
  background-image: url("../images/kenobi.jpeg");
}

.maul-bg {
  background-image: url("../images/kenobi.jpeg");
}