body, html {
  color: #fff;
  background: #170e09;
  min-height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

/* Page structure */

.section {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  min-height: 50px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  clear: both;
  padding-top: 10px;
}

.tile::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

h1 {
  font-variant: small-caps;
  font-size: 28px;
  padding: 2px 25px;
  /* margin: 0 auto; */
  text-align: center;
}

/* character tiles */

.character {
  position: relative;
  clear: none;
  float: left;
  width: 25%;
  min-height: 100%; 
  color: yellow;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.character:hover {
  color: #fff;
}

.character-content {
  margin: 10px;
}

.character-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background: black; */ 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  max-width: 100%;
}

.character-label {
  position: absolute;
  bottom: 18px;
  right: 10px;
  left: 10px;
  text-align: center;
  font-size: 28px;
  font-variant: small-caps;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}

.selected {
  filter: grayscale(100%);
}

.dead {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.game-tile  {
  position: relative;
  min-height: 200px;
  width: calc((100%) / 3);
  float: left;
}

#player-text, #opponent-text {
  position: absolute;
  bottom: -80px;
  left: 10px;
  font-size: 22px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}

/* background images for character selection and game section */

.exar-bg {
  background-image: url("../images/exar-kun.jpg");
}

.nomi-bg {
  background-image: url("../images/nomi1.jpg");
}

.vader-bg {
  background-image: url("../images/vader.jpg");
}

.katarn-bg {
  background-image: url("../images/katarn1.jpg");
}

/* combat window */

.combat-window {
  overflow: visible;
}

.yellow-text {
  color: yellow;
}

.red-text {
  color: red;
}

/* Buttons */

button {
  background: transparent;
  color: #fff;
  padding: 2px 25px;
  border: 2px solid #fff;
  font-variant: small-caps;
  font-size: 24px;
  cursor: pointer;
  /* margin-left: 20px; */
}

button:hover {
  border: 2px solid transparent;
  background: #fff;
  color: #000;
  transition: all .2s ease-in-out;
}


#attack {
  display: none;
}

#restart {
  display: none;
}

#message {
  font-variant: small-caps;
  font-size: 24px;
  padding: 2px 25px;
}